{% extends "_layout" %}

{% block content %}

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, a atque quaerat repellendus fuga possimus non, iusto nesciunt natus magnam fugiat ullam itaque earum numquam, accusantium expedita. Maxime, ipsam quidem?

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae architecto assumenda laudantium, earum repellat ipsum necessitatibus, quia ipsa deleniti iusto impedit recusandae vel repudiandae dolorum expedita, reiciendis quidem itaque distinctio!</p>

{% endblock %}
