/* Media Query Breakpoints
==================================== */
$breakpointDesktopMin: 1330px;
$breakpointLaptopMax: ($breakpointDesktopMin - 1px);
$breakpointLaptopMin: 1185px;
$breakpointTabletMax: ($breakpointLaptopMin - 1px);
$breakpointTabletMin: 970px;
$breakpointPhoneMax: ($breakpointTabletMin - 1px);
$breakpointPhoneMin: 450px;
$breakpointTinyMax: ($breakpointPhoneMin - 1px);
$breakpointTinyMin: 350px;
/* /END/ Media Query Breakpoints
==================================== */\