{% extends "_layout" %}
{% set title = "Health Promotion" %}
{% block content %}
	<div class="dividerMargin"></div>
	{% for block in entry.myBlock %}

		{% if block.type == "singleBlock" %}
					<!-- <div class="col col-fullWidth"> -->

		<ul class="Cards Grid">
			<li class="Card-item Grid-item Grid-fullWidth">
				{% if block.myBlockHeading %}
					{% if block.myBlockHeading|length > 0 %}
						<h2> {{ block.myBlockHeading }}  </h2>
					{% endif %}
				{% endif %}
				
				{% set image = block.myBlockImage.first().getUrl %}
				{% if image %}
					<a href="{{ block.myBlockUrl }}"><img class="myImage" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}"></a>
				{% endif %}
				{% if block.type.handle == "singleBlock" %}				
					{% if block.myBlockTextboxText|length > 0 %}
						<div class="textParagraphs textbox">
							{{ block.myBlockTextboxText }}
							<!-- {{ block.myBlockTextboxText|length }} -->
						</div>
					{% endif %}					
				{% endif %}
				{% if block.type.handle == "singleBlock" %}					
					{% if block.mainContentText|length > 0 %}
						<div class="textParagraphs">
							{{ block.mainContentText }}
						</div>
					{% endif %}					
				{% endif %}
			<!-- </div> -->
			</li></ul>
		{% endif %}

		{% if block.type == "pairedBlock" %}
<!-- 			<div class="col col-half blockImages"> -->
		<ul class="Cards Grid">
			<li class="Card-item Grid-item Grid-half blockImages">
				{% if block.leftColumnHeading|length > 0 %}
					<h2> <a href="{{ block.leftColumnImageUrl }}">{{ block.leftColumnHeading }}</a>  </h2>
				{% endif %}
				{% set image = block.leftColumnImage.first().getUrl %}
				{% if image %}
					<div class="imgContainer">
						<a href="{{ block.leftColumnImageUrl }}"><img class="myImageGroup" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}" ></a>
					</div>
				{% endif %}
				{% if block.type.handle == "pairedBlock" %}
					{% if block.leftColumnTextboxText|length > 0 %}
						<div class="textSentences textbox max60">
							{{ block.leftColumnTextboxText }}
						</div>
					{% endif %}
					{% if block.leftColumnText|length > 0 %}
						<div class="textParagraphs">
							{{ block.leftColumnText }}
						</div>
					{% endif %}
				{% endif %}
			<!-- </div> -->
			</li>

			<li class="Card-item Grid-item Grid-half blockImages">
<!-- 			<div class="col col-half blockImages"> -->
				{% if block.rightColumnHeading|length > 0 %}
					<h2> <a href="{{ block.rightColumnImageUrl }}">{{ block.rightColumnHeading }}</a>  </h2>
				{% endif %}
				{% set image = block.rightColumnImage.first().getUrl %}
				{% if image %}
					<div class="imgContainer">
						<a href="{{ block.rightColumnImageUrl }}"><img class="myImageGroup" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}" ></a>
					</div>
				{% endif %}
				{% if block.type.handle == "pairedBlock" %}
					{% if block.rightColumnTextboxText|length > 0 %}
						<div class="textSentences textbox max60">
							{{ block.rightColumnTextboxText }}
						</div>
					{% endif %}
					{% if block.leftColumnText|length > 0 %}
						<div class="textParagraphs">
							{{ block.rightColumnText }}
						</div>
					{% endif %}
				{% endif %}
		<!-- 	</div> -->
			</li>
			</ul>
		{% endif %}


		{% if block.type.handle == "attachDocument" %}
			{% if block.documentFile.first %}
				
					<a href="{{ block.documentFile.first.url }}">
						<!-- Download -->
					{{ block.documentInformation }}</a>
				<div class="dividerMargin">
				</div>
				<div class="dividerMargin">
				</div>
			{% endif %}
		{% endif %}

		{% if block.type.handle == "responsiveImage" %}
			{% set image = block.responsiveImage.first().getUrl %}
			{% if image %}
				<div class="imgContainer {% if block.responsiveOption %} {{ block.responsiveOption }} {% endif %}">
					<a href="{{ block.imageUrl }}"><img class="myImageGroup {% if block.responsiveOption %} {{ block.responsiveOption }} {% endif %}" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}" ></a>
				</div>
			{% endif %}
		{% endif %}

	{% endfor %}
{% endblock %}