{% set bodyClass = "" %}
{% extends "_layout" %}
{% set title = "About" %}
{% block content %}

<div class="dividerMargin"></div>
	{% for block in entry.myBlock %}

		{% if block.type == "singleBlock" %}
			<div class="col col-fullWidth">
				{% if block.myBlockHeading %}
					{% if block.myBlockHeading|length > 0 %}
						<h2> {{ block.myBlockHeading }}  </h2>
					{% endif %}
				{% endif %}
				
				{% set image = block.myBlockImage.first().getUrl %}
				{% if image %}
					<a href="{{ block.myBlockUrl }}"><img class="myImage" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}"></a>
				{% endif %}
				{% if block.type.handle == "singleBlock" %}				
					{% if block.myBlockTextboxText|length > 0 %}
						<div class="textParagraphs textbox">
							{{ block.myBlockTextboxText }}
							<!-- {{ block.myBlockTextboxText|length }} -->
						</div>
					{% endif %}					
				{% endif %}
				{% if block.type.handle == "singleBlock" %}					
					{% if block.mainContentText|length > 0 %}
						<div class="textParagraphs">
							{{ block.mainContentText }}
						</div>
					{% endif %}					
				{% endif %}
			</div>
		{% endif %}

		{% if block.type == "twoTextColumns" %}
			<div class="col col-half colpadding center ">
<!-- 							{% if ( block.LeftColumnHeading|length > 0 ) or ( block.RightColumnHeading|length > 0 ) %}
					<h3> {{ block.LeftColumnHeading }}  </h3>
				{% endif %}
			 -->
			<h3>{{ block.LeftColumnHeading }}</h3>
			{{ block.LeftColumnText }}
		</div>
		<div class="col col-half colpadding center ">
<!-- 			
				{% if ( block.LeftColumnHeading|length > 0 ) or ( block.RightColumnHeading|length > 0 ) %}
					<h3> {{ block.RightColumnHeading }}  </h3>
				{% endif %}
			 -->
			<h3>{{ block.RightColumnHeading }}</h3>
			{{ block.RightColumnText }}
		</div>
		{% endif %}

		{% if block.type == "pairedBlock" %}
			<div class="col col-half blockImages">
				{% if block.leftColumnHeading|length > 0 %}
					<h2> <a href="{{ block.leftColumnImageUrl }}">{{ block.leftColumnHeading }}</a>  </h2>
				{% endif %}
				{% set image = block.leftColumnImage.first().getUrl %}
				{% if image %}
					<div class="imgContainer">
						<a href="{{ block.leftColumnImageUrl }}"><img class="myImageGroup" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}" ></a>
					</div>
				{% endif %}
				{% if block.type.handle == "pairedBlock" %}
					{% if block.leftColumnTextboxText|length > 0 %}
						<div class="textSentences textbox max60">
							{{ block.leftColumnTextboxText }}
						</div>
					{% endif %}
				{% endif %}
			</div>
			<div class="col col-half blockImages">
				{% if block.rightColumnHeading|length > 0 %}
					<h2> <a href="{{ block.rightColumnImageUrl }}">{{ block.rightColumnHeading }}</a>  </h2>
				{% endif %}
				{% set image = block.rightColumnImage.first().getUrl %}
				{% if image %}
					<div class="imgContainer">
						<a href="{{ block.rightColumnImageUrl }}"><img class="myImageGroup" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}" ></a>
					</div>
				{% endif %}
				{% if block.type.handle == "pairedBlock" %}
					{% if block.rightColumnTextboxText|length > 0 %}
						<div class="textSentences textbox max60">
							{{ block.rightColumnTextboxText }}
						</div>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}

		{% if block.type.handle == "attachDocument" %}
			{% if block.documentFile.first %}
				
					<a href="{{ block.documentFile.first.url }}">
						<!-- Download -->
					{{ block.documentInformation }}</a>
				<div class="dividerMargin">
				</div>
			{% endif %}
		{% endif %}

		{% if block.type.handle == "responsiveImage" %}
			{% set image = block.responsiveImage.first().getUrl %}
			{% if image %}
				<div class="imgContainer {% if block.responsiveOption %} {{ block.responsiveOption }} {% endif %}">
					<a href="{{ block.imageUrl }}"><img class="myImageGroup {% if block.responsiveOption %} {{ block.responsiveOption }} {% endif %}" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}" ></a>
				</div>
			{% endif %}
		{% endif %}

	{% endfor %}

<div class="contactForm">	
	{% macro errorList(errors) %}
	    {% if errors %}
	        <ul class="errors">
	            {% for error in errors %}
	                <li>{{ error }}</li>
	            {% endfor %}
	        </ul>
	    {% endif %}
	{% endmacro %}

	{% from _self import errorList %}

	<form method="post" action="" accept-charset="UTF-8">
	    {{ getCsrfInput() }}
	    <input type="hidden" name="action" value="contactForm/sendMessage">
	    <input type="hidden" name="redirect" value="thanks">

	    <input id="puppyField" name="puppyField" type="text">

	    <div class="contactField">
		    <h3><label for="fromName">Your Name</label></h3></br>
		    <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
		    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
	    </div>
	    <div class="contactField">
		    <h3><label for="fromEmail">Your Email</label></h3></br>
		    <input id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
		    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
		</div>
		<div class="contactField">
		    <h3><label for="subject">Subject</label></h3></br>
		    <input id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
		    {{ message is defined and message ? errorList(message.getErrors('subject')) }}
	    </div>
	    <div class="contactField">
		    <h3><label for="message">Message</label></h3></br>
		    <textarea rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
		    {{ message is defined and message ? errorList(message.getErrors('message')) }}
	    </div>
	   	<div class="contactField form-button"></br>
		    <input type="submit" value="Send">
	    </div>
	</form>
</div>

{% endblock %}