{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}


{% block content %}

	<article>
		<h1>{{ entry.title }}</h1>
		<p><b>Posted on {{ entry.postDate.format('F d, Y') }}</b></p>
		{{ entry.body }}
	</article>

		{% for block in entry.channel-segment %}
			
			{% if block.type == "channel-segment" %}
				<div class="col-fullWidth">
					<h2> <a href="{{ block.myBlockUrl }}">{{ block.Description }}</a>  </h2>
					{% set image = block.Image.first().getUrl %}
					{% if image %}
						<a href="{{ block.myBlockUrl }}"><img class="myImage" src="{{ image }}" width="{{ image.getWidth('squarehomepage') }}" height="{{ image.getHeight('squarehomepage') }}" alt="{{ image.title }}"></a>
					{% endif %}
<!-- 					<div class="textbox">
								    <a href="{{ block.myBlockUrl }}">Read More</a>
						{{ block.myBlockSummary }}
					</div> -->
				{% endif %}
				
			{% endfor %}

{% endblock %}

