/* MIXINS
==================================== */
/* MIXINS END
==================================== */
/* FONT STUFF
==================================== */
@font-face {
  font-family: 'brushpen';
  src: url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff2") format("woff2"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.woff") format("woff"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.ttf") format("truetype"), url("../fonts/AnotherBrushPen/anotherBrushPen-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
/* FONT STUFF END
==================================== */
/* Media Query Breakpoints
==================================== */
/* /END/ Media Query Breakpoints
==================================== */
/* Layout Element Colors
==================================== */
/* Lists
========================================================================= */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  margin: 7px 0px 10px 0px; }

.h0 {
  color: white;
  font-family: "brushpen", cursive;
  font-size: 37px;
  margin: 12px 0px;
  text-transform: uppercase;
  display: inline;
  line-height: 55px; }

h1 {
  color: white;
  font-family: "Fenix", serif;
  font-size: 37px;
  margin: 12px 0px; }

h2 {
  color: white;
  font-family: "Fenix", serif;
  display: inline;
  text-align: center; }

h3 {
  color: white;
  margin: 12px;
  display: inline; }

.mainNavClose .fa, .mainNavClose h2 {
  color: white;
  margin-left: 20px;
  margin-right: -20px;
  float: left;
  line-height: 55px; }

.mainNavClose h2 {
  text-transform: uppercase;
  margin: 0px 35px; }

button:focus {
  outline: none; }

/* /END/ Lists
========================================================================= */
/* Link stylings
========================================================================= */
html {
  background: #EE163D;
  font-size: 17px; }

a {
  color: white; }

a:link {
  text-decoration: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  color: white; }

a:visited {
  text-decoration: none; }

a:hover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  color: #4795C4; }

a:active {
  text-decoration: none;
  color: #f8f8f8; }

/* /END/ Link stylings
========================================================================= */
/* DESKTOP Header, Banner and Footer Layout
==================================== */
nav {
  text-align: center;
  text-transform: uppercase;
  max-height: 300px;
  padding: 20px 0px; }

nav li {
  display: inline-block; }

.main-nav {
  text-align: right; }
  .main-nav h1 {
    text-decoration: none;
    display: inline-block;
    text-align: inline-block;
    padding: 10px 0px; }
  .main-nav li {
    margin: 0;
    margin-top: 7px; }
  .main-nav a {
    color: white;
    font: "Fenix", serif;
    font-size: 1.2rem;
    line-height: 1.45rem;
    border-bottom: 2px dotted white;
    padding: 0px 0px;
    margin: 10px 15px; }
    .main-nav a:hover {
      color: #4795C4; }
  .main-nav li a {
    margin-left: 1.5rem;
    margin-right: 0px; }

.mainLogo
 {
  display: inline-block;
  float: left;
  margin: 0; }

.mainLogo a {
  margin-right: 1.14rem;
  color: white; }

footer {
  background-color: #333333;
  color: #FF696D;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  overflow: hidden;
  height: auto; }
  footer a {
    padding: 20px 0px; }

/* /END/ DESKTOP Header, Banner and Footer Layout
==================================== */
body {
  font: 100% "Open Sans", sans-serif;
  background-color: #EE163D; }

.wrapper {
  width: 100%;
  background-color: #EE163D; }

.container {
  width: 88%;
  margin: auto;
  max-width: 1425px;
  min-height: 1000px; }

.center {
  margin: auto;
  display: block; }

.dividerMargin {
  height: 15px; }

.col {
  float: left;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center; }

.colpadding {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box; }

.blockImages {
  min-height: 350px;
  float: left;
  padding-top: 45px;
  text-align: center; }

.col-quarter {
  width: 22.5%; }

.col-half {
  width: 50%; }

.col-third {
  width: 33.333333333%; }

.col-twoThirds {
  width: 66.666666666%; }

.col-threeQuarters {
  width: 75%; }

.col-fullWidth {
  width: 100%; }

.max60 {
  max-width: 60%; }

.myImage, .myImageGroup {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  margin: auto;
  max-width: 34%;
  text-align: center;
  padding: 25px;
  display: block; }

.myImageGroup {
  max-height: 199px; }

.homepageBig {
  display: none; }

figure {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden; }

.cloudBox {
  background-image: url("/assets/images/cloud.png");
  margin: auto;
  padding: 12px 12px; }

.textbox {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white; }
  .textbox a:link {
    transition: none;
    color: #EE163D; }

.textbox p, .textbox h1, .textbox h2, .textbox h3 {
  padding: 2px 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.textbox h2 {
  color: #333333; }

.textbox h3 {
  color: #EE163D; }

.textbox p {
  color: #333333; }

/* CRAFT CMS PHP CLASSES
==================================== */
.red {
  background-color: #FF696D; }

.blue {
  background-color: #4795C4; }

.row1 {
  min-height: 500px; }

.row2 {
  min-height: 520px; }

.textRow1 {
  min-height: 300px; }

.textRow2 {
  min-height: 300px; }

#contact {
  overflow: hidden;
  height: 5px;
  width: 5px; }

/* // CRAFT CMS PHP CLASSES END
==================================== */
.centerHeading {
  color: blue;
  text-align: center !important;
  margin: auto;
  display: block;
  padding: 3px 0px; }

/* LAPTOP SCREEN
==================================== */
@media screen and (min-width: 1185px) and (max-width: 1329px) {
  .mainLogo a {
    font-size: 2rem; }

  .main-nav li a {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-left: 1.5rem;
    color: yellow; } }
/* LAPTOP SCREEN END
==================================== */
/* TABLET SCREEN
==================================== */
@media screen and (min-width: 970px) and (max-width: 1184px) {
  .mainLogo a {
    font-size: 1.85rem;
    line-height: 1.3rem;
    margin-top: 0px;
    margin-bottom: 12px; }

  .main-nav li a {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-left: 1rem;
    color: green; }

  .col-half {
    width: 100%; }

  .max60 {
    max-width: 70%; }

  .row1, .row2 {
    min-height: 0px; }

  .blockImages {
    padding-top: 20px; }

  .red, .blue {
    background-color: #FF696D; } }
/* TABLET SCREEN END
==================================== */
.mainNavClose {
  display: none; }

/* PHONE LANDSCAPE
==================================== */
@media screen and (max-width: 969px) {
  nav {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    max-height: none;
    background-color: #FF696D;
    padding: 20px 15px; }

  .navOpen {
    transform: translate3d(0px, 0, 0);
    transition: transform 0.8s ease; }

  .navClose {
    transform: translate3d(-290px, 0, 0);
    transition: transform 0.3s ease; }

  .navHeadingWhenOpen {
    transform: translate3d(33px, 0, 0);
    transition: transform 0.8s ease; }

  .navHeadingWhenClose {
    transform: translate3d(0px, 0, 0);
    transition: transform 0.3s ease; }

  .main-nav li {
    display: block;
    min-height: 45px; }
    .main-nav li a {
      font-size: 20px;
      display: block;
      margin-right: 20px; }

  .mainLogo {
    display: block;
    float: none;
    visibility: hidden; }

  .mainNavClose {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: #FF696D;
    border: none; }

  body {
    padding-top: 55px; }

  .col-half {
    width: 100%; }

  .max60 {
    max-width: 70%; }

  .row1, .row2 {
    min-height: 0px;
    padding-bottom: 15px; }

  .red, .blue {
    background-color: #FF696D; }

  .blockImages {
    padding-top: 20px; }

  .myImage:hover {
    width: 90%;
    display: none; }

  .navHeadingWhenClose .menuTextClose {
    display: none; }

  .navHeadingWhenClose .menuTextMenu {
    display: block; }

  .navHeadingWhenOpen .menuTextClose {
    display: none; }

  .navHeadingWhenOpen .menuTextMenu {
    display: block; }

  .footer {
    padding-left: 13px;
    padding-right: 13px; } }
/* PHONE LANDSCAPE END
==================================== */
/* PHONE PORTRAIT
==================================== */
@media screen and (max-width: 320px) {
  .wrapper, .mainNavClose {
    width: 320px; }

  .navHeadingWhenClose .menuTextClose {
    display: none; }
  .navHeadingWhenClose .menuTextMenu {
    display: block; }

  .navHeadingWhenOpen .menuTextMenu {
    display: none; }
  .navHeadingWhenOpen .menuTextClose {
    display: block; } }
/* PHONE PORTRAIT END
==================================== */

/*# sourceMappingURL=styles.css.map */
