{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link href='https://fonts.googleapis.com/css?family=Lobster|Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="stylesheet" href="/assets/css/styles.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<div class="main-wrapper">
		<body class="{{ bodyClass }}">
			<div id="container">
						<nav>
<!-- 						<header class="main-header"> -->
							<h1 class="main-logo"><a href="{{ siteUrl }}">{{ siteName }}</a> 
							<!-- A Websitey website -->
<!-- 								<div class="desktopNav"> -->
								</h1>
									<ul class="main-nav">
										<li><a href="{{ url('/') }}" {% if craft.request.firstSegment == 'home' %}class="active"{% endif %}>Home</a></li>
										<li><a href="{{ url('/about/liz') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
										<li><a href="{{ url('pshe') }}" {% if craft.request.firstSegment == 'pshe' %}class="active"{% endif %}>PSHE</a></li>
										<li><a href="{{ url('communication') }}" {% if craft.request.firstSegment == 'communication' %}class="active"{% endif %}>Communication</a></li>
										<li><a href="{{ url('relationships') }}" {% if craft.request.firstSegment == 'Relationships' %}class="active"{% endif %}>Relationships</a></li>
										<li><a href="{{ url('health') }}" {% if craft.request.firstSegment == 'health' %}class="active"{% endif %}>Health</a></li>
										
									</ul>
<!-- 								</div> -->
<!-- 							</header> -->
							<button class="main-nav-close">x
							</button>
						</nav>

		{% if craft.request.firstSegment == '' %}
		<p>testetststsfirstsegment</p>
		{% endif %}

				<main id="content" role="main">
					{% block content %}
						<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
						<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
					{% endblock %}
				</main>

				<footer id="footer">
					Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://buildwithcraft.com">Craft</a>  •  
<!-- 					<p>
					<ul>
						<li> --><a href="{{ url('/news/about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>Contact</a></li>		
<!-- 					</ul>
					</p> -->
				</footer>
			</div>
		</div>
</body>
</html>
