

{% set bodyClass = "" %}
{% extends "_layout" %}
{% set title = "Home" %}



{% block content %}
	<h1>{{ entry.title }}</h1>

	test test 

	<div class="textbox">
		<h2>Testbox Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 	 </p>
	</div>

        <div class="imgbox">
          <img src="/assets/images/white_tiles.png">
          image here?
        </div>

        <div>
		<img src="/assets/images/white_tiles.png">
		image here
		</div>


	<div class="imgtest imgbox">
	imgtesty
	</div>

	<div class="imgbox">
		<img src="/assets/images/lizAppleSm.png">
	</div>

	<div class="imgbox">
		<img src="/assets/images/globe.png">
	</div>

	<div class="imgbox">
		<img src="/assets/images/textboxDots.png">
	</div>

	<div class="imgbox">
		<img src="/assets/images/heart.png">
	</div>

<div class="center">
	<div class="grid">
		<div class="grid">
			<div class="cloudBox">
				<h3>TETETYYSTSYT</h3>
			</div>
		</div>
		<div class="grid">
			<div class="cloudBox">
				<h3>TETETYYSTSYT</h3>
			</div>
		</div>
	</div>
</div>

	{{ entry.body }}

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}

	</ul>

{% for block in entry.myBlock %}

    {% if block.type == "myBlock" %}

        <h3>{{ block.myBlockDescription }}</h3>

        {% set image = block.myBlockImage.first().getUrl %}
        {% if image %}
      		<div class="imgbox">
  	        	<img src="{{ image }}" width="{{ image.getWidth('thumb') }}" height="{{ image.getHeight('thumb') }}" alt="{{ image.title }}> 
           </div>
        {% endif %}

        <a href="{{ block.myBlockUrl }}">Read More</a>

    {% endif %}

{% endfor %}

{% endblock %}
