

{% set bodyClass = "" %}
{% extends "_layout" %}
{% set title = "Home" %}



{% block content %}
	<h1>{{ entry.title }}</h1>

	test test 

	{{ entry.body }}

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}

	</ul>

{% for block in entry.myBlock %}

    {% if block.type == "myBlock" %}

        <h3>{{ block.myBlockDescription }}</h3>

        {% set image = block.myBlockImage.first().getUrl %}
        {% if image %}
      
           <img src="{{ image }}" width="{{ image.getWidth('thumb') }}" height="{{ image.getHeight('thumb') }}" alt="{{ image.title }}"> 
        {% endif %}

        <a href="{{ block.myBlockUrl }}">Read More</a>

    {% endif %}

{% endfor %}

{% endblock %}
